.bands {
    background-color: rgb(1, 1, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    max-height: 980px;
    margin: 0 0 100px;
}

.bands__img {
    width: 15.63%;
    max-width: 300px;
    height: 51.04vw;
    max-height: 980px;
    cursor: pointer;
    margin: 0;
    background-size: cover;
    background-color: transparent;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.bands__img:hover {
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.bands__first-img {
    background-image: url('../../images/bands/band1_default.png');
}

.bands__first-img:hover {
    background-image: url('../../images/bands/band1_hovered.png');
}

.bands__second-img {
    background-image: url('../../images/bands/band2_default.png');
}

.bands__second-img:hover {
    background-image: url('../../images/bands/band2_hovered.png');
}

.bands__third-img {
    background-image: url('../../images/bands/band3_default.png');
}

.bands__third-img:hover {
    background-image: url('../../images/bands/band3_hovered.png');
}

.bands__fourth-img {
    background-image: url('../../images/bands/band4_default.png');
}

.bands__fourth-img:hover {
    background-image: url('../../images/bands/band4_hovered.png');
}

.bands__fifth-img {
    background-image: url('../../images/bands/band5_default.png');
}

.bands__fifth-img:hover {
    background-image: url('../../images/bands/band5_hovered.png');
}