.list {
    width: 97%;
    max-width: 1500px;
    overflow: hidden;
    margin: 0 auto 95px;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}

.list__title {
    color: rgb(14, 14, 14);
    font-family: Unbounded;
    font-size: 36px;
    font-weight: 300;
    line-height: 45px;
    width: max-content;
    margin: 0 auto 50px 0px;
}

.list__button {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0px;
    padding: 0;
    border: none;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    background-image: url('../../images/arrow-default.svg');
}

.list__button:hover {
    background-image: url('../../images/arrow-hovered.svg');
}

.list__button:active {
    background-image: url('../../images/arrow-clicked.svg');
}

.list__left-arrow {
    margin-right: 15px;
    transform: rotate(180deg);
}

.list__right-arrow {
    margin-right: 82px;
}

.list__cards-container {
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: center;
    grid-template-rows: min-content;
    gap: 37.5px;
}